@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-alpha.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/indigo-dark-alpha.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-alpha.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/orange-dark-alpha.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/cyan-alpha.css";
@import "@radix-ui/colors/cyan-dark.css";
@import "@radix-ui/colors/cyan-dark-alpha.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/tomato-alpha.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/tomato-dark-alpha.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-alpha.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/pink-dark-alpha.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/crimson-alpha.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/crimson-dark-alpha.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/plum-alpha.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/plum-dark-alpha.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-alpha.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/purple-dark-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/grass-dark-alpha.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellow-alpha.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/yellow-dark-alpha.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/gold-alpha.css";
@import "@radix-ui/colors/gold-dark.css";
@import "@radix-ui/colors/gold-dark-alpha.css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
	--background-1: oklch(1 0 0);
	--background-2: oklch(0.985 0 0);
	--foreground: oklch(0.145 0 0);
}

.dark {
	--background-1: oklch(0.146 0 0);
	--background-2: oklch(0 0 0);
	--foreground: oklch(0.985 0 0);
}

@theme inline {
	--btn-height: auto;
	--btn-padding-inline: 0;
	--btn-padding-block: 0;
	--btn-gap: var(--spacing-1);
	--btn-font-size: 13px;
	--btn-font-weight: var(--font-medium);
	--btn-border-radius: var(--radius-md);
	--btn-icon-size: var(--size-3);

	--spacing: 0.25rem;
	--container-xs: 20rem;
	--container-sm: 24rem;
	--container-md: 28rem;
	--container-lg: 32rem;
	--container-xl: 36rem;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--tracking-tight: -0.025em;
	--leading-snug: 1.375;
	--leading-normal: 1.5;

	--ease-out: cubic-bezier(0.23, 1, 0.32, 1);
	--ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);

	--font-scale-00: calc(var(--spacing) * 2);
	--font-scale-01: calc(var(--spacing) * 2.5);
	--font-scale-02: calc(calc(var(--spacing) * 2.5) + 1px);
	--font-scale-03: calc(var(--spacing) * 3);
	--font-scale-04: calc(calc(var(--spacing) * 3) + 1px);
	--font-scale-05: calc(calc(var(--spacing) * 3.5) + 1px);
	--font-scale-06: calc(var(--spacing) * 4.5);
	--font-scale-07: calc(var(--spacing) * 5);
	--font-scale-08: calc(var(--spacing) * 6);
	--font-scale-09: calc(var(--spacing) * 7);
	--font-scale-10: calc(var(--spacing) * 9);
	--font-scale-11: calc(var(--spacing) * 11);
	--code-size-xs: var(--font-scale-03);
	--text-body-base: var(--font-scale-05);
	--text-body-base--line-height: 1.5rem;
	--text-body-lg: var(--font-scale-06);
	--text-body-lg--line-height: 1.5rem;

	--font-sans: var(--font-inter), sans-serif;
	--font-serif: "Instrument Serif", serif;
	--font-mono: var(--font-geist-mono), monospace;

	--header-height: 3.25rem;

	--color-foreground: var(--foreground);
	--color-background: var(--background-1);
	--color-background-1: var(--background-1);
	--color-background-2: var(--background-2);
	--color-white-fill: #fff;
	--color-black-fill: #000;
	--color-black-transparent: #0000;
	--color-page: var(--color-white-fill);
	--color-shell: #f6f6f6;
	--color-container: var(--color-white-fill);
	--color-modal: #ffffffb3;
	--color-card: var(--gray-a2);
	--color-standout: var(--gray-12);
	--color-component: var(--gray-a3);
	--color-component-hover: var(--gray-a4);
	--color-component-active: var(--gray-a5);
	--color-component-on-sunken: var(--color-white-fill);
	--color-component-on-inverted: var(--white-a2);
	--color-component-on-container-subtle: var(--color-white-fill);
	--color-component-on-container-subtle-hover: var(--color-white-fill);
	--color-component-on-container-strong: var(--color-white-fill);
	--color-component-on-container-strong-hover: var(--gray-a2);
	--color-transparent: var(--color-black-transparent);
	--color-transparent-hover: var(--gray-a3);
	--color-transparent-active: var(--gray-a3);
	--color-primary-solid: var(--black-a12);
	--color-primary-solid-hover: var(--black-a10);
	--color-primary-solid-active: var(--black-a11);
	--color-brand-solid: var(--indigo-a9);
	--color-brand-solid-hover: var(--indigo-a10);
	--color-brand-solid-active: var(--indigo-a11);
	--color-brand-subtle: var(--indigo-a3);
	--color-positive-solid: var(--green-a9);
	--color-positive-subtle: var(--green-a3);
	--color-warning-solid: var(--orange-a9);
	--color-warning-subtle: var(--orange-a3);
	--color-danger-solid: var(--tomato-a9);
	--color-danger-solid-hover: var(--tomato-a10);
	--color-danger-solid-active: var(--tomato-a11);
	--color-danger-subtle: var(--tomato-a3);
	--color-danger-subtle-hover: var(--tomato-a4);
	--color-danger-subtle-active: var(--tomato-a5);
	--color-inverted-solid: var(--black-a12);
	--color-inverted-solid-hover: var(--black-a10);
	--color-inverted-solid-active: var(--black-a9);
	--color-disabled: var(--gray-a3);
	--color-primary-foreground: var(--gray-a12);
	--color-secondary-foreground: var(--gray-a11);
	--color-tertiary-foreground: var(--gray-a9);
	--color-disabled-foreground: var(--gray-a8);
	--color-brand-foreground: var(--indigo-a10);
	--color-positive-foreground: var(--green-a10);
	--color-warning-foreground: var(--orange-a10);
	--color-danger-foreground: var(--tomato-a10);
	--color-on-inverted-foreground: var(--color-white-fill);
	--color-on-standout-primary-foreground: var(--color-white-fill);
	--color-on-standout-secondary-foreground: var(--white-a7);
	--color-on-brand-solid-foreground: var(--color-white-fill);
	--color-on-brand-subtle-foreground: var(--indigo-a9);
	--color-on-positive-subtle-foreground: var(--green-a9);
	--color-on-warning-subtle-foreground: var(--orange-a9);
	--color-on-danger-solid-foreground: var(--tomato-1);
	--color-on-danger-subtle-foreground: var(--tomato-a9);
	--color-border-default: var(--gray-a3);
	--color-border-subtle: var(--gray-a2);
	--color-border-strong: var(--gray-a6);
	--color-border-inverted: var(--color-black-fill);
	--color-brand-border-default: var(--indigo-a6);
	--color-brand-border-subtle: var(--indigo-a5);
	--color-brand-border-focus: var(--indigo-a8);
	--color-danger-border-default: var(--tomato-a6);
	--color-danger-border-subtle: var(--tomato-a4);

	--color-ring: var(--gray-4);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

@layer components {
	.cft-btn {
		display: inline-flex;
		gap: var(--btn-gap);
		align-items: center;
		justify-content: center;
		height: var(--btn-height);
		padding-block: var(--btn-padding-block);
		padding-inline: var(--btn-padding-inline);
		font-size: var(--btn-font-size, 13px);
		font-weight: var(--font-weight-normal);
		line-height: var(--tw-leading, 1.25rem);
		cursor: pointer;
		border-radius: var(--btn-border-radius);
		transition:
			transform 150ms var(--ease-out),
			background-color 200ms,
			color 200ms,
			border-color 200ms;

		&:disabled {
			cursor: not-allowed;
			opacity: 0.5;
		}

		&:focus-visible {
			outline: 2px solid var(--color-ring);
			outline-offset: 2px;
		}

		&:active:not(:disabled) {
			transform: scale(0.96);
		}

		& svg:not([class*="size-"]) {
			width: var(--btn-icon-size);
			height: var(--btn-icon-size);
		}
	}

	.cft-btn-sm {
		--btn-height: 1.5rem;
		--btn-padding-inline: 0.5rem;
		--btn-border-radius: calc(var(--radius) - 2px);
		--btn-font-size: var(--text-xs);
		--btn-gap: var(--spacing-1);
		--btn-icon-size: var(--size-3);
	}

	.cft-btn-md {
		--btn-height: 1.75rem;
		--btn-padding-inline: 0.625rem;
		--btn-border-radius: calc(var(--radius) - 2px);
		--btn-font-size: 0.8rem;
		--btn-gap: var(--spacing-1);
		--btn-icon-size: var(--size-3\.5);
	}

	.cft-btn-lg {
		--btn-height: 2rem;
		--btn-padding-inline: 0.625rem;
		--btn-font-size: var(--text-sm);
		--btn-gap: var(--spacing-1\.5);
		--btn-icon-size: var(--size-4);
	}

	.cft-btn-xl {
		--btn-height: 2.25rem;
		--btn-padding-inline: 0.625rem;
		--btn-font-size: var(--text-sm);
		--btn-gap: var(--spacing-1\.5);
		--btn-icon-size: var(--size-4);
	}

	.cft-btn-icon {
		--btn-padding-inline: 0;
		--btn-padding-block: 0;
		aspect-ratio: 1;
	}

	.cft-btn-icon-xs {
		--btn-height: 1.5rem;
		--btn-icon-size: var(--size-3);
		--btn-border-radius: calc(var(--radius) - 2px);
	}

	.cft-btn-icon-sm {
		--btn-height: 1.75rem;
		--btn-icon-size: var(--size-3\.5);
		--btn-border-radius: calc(var(--radius) - 2px);
	}

	.cft-btn-icon-lg {
		--btn-height: 2.25rem;
		--btn-icon-size: var(--size-4);
	}

	.cft-btn-rounded.cft-btn-sm,
	.cft-btn-rounded.cft-btn-md {
		--btn-border-radius: calc(var(--spacing) * 1.5);
	}

	.cft-btn-rounded.cft-btn-lg,
	.cft-btn-rounded.cft-btn-xl {
		--btn-border-radius: calc(var(--spacing) * 2);
	}

	.cft-btn-primary {
		color: var(--color-on-brand-solid-foreground);
		background-color: var(--color-primary-solid);
		border: 1px solid transparent;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: var(--color-primary-solid-hover);
			}
		}

		&:active {
			background-color: var(--color-primary-solid-active);
		}
	}

	.cft-btn-secondary {
		color: var(--color-foreground);
		background-color: var(--color-component-on-container-strong);
		border: 1px solid var(--color-border-default);

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: var(--color-component-on-container-strong-hover);
			}
		}
	}

	.cft-btn-tertiary {
		color: var(--color-foreground);
		background-color: transparent;
		border: 1px solid transparent;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: var(--color-transparent-hover);
			}
		}

		&:active {
			background-color: var(--color-transparent-active);
		}
	}

	.cft-btn-brand {
		color: var(--color-on-brand-solid-foreground);
		background-color: var(--color-brand-solid);
		border: 1px solid transparent;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: var(--color-brand-solid-hover);
			}
		}

		&:active {
			background-color: var(--color-brand-solid-active);
		}
	}

	.cft-btn-danger {
		color: var(--color-on-danger-solid-foreground);
		background-color: var(--color-danger-solid);
		border: 1px solid transparent;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: var(--color-danger-solid-hover);
			}
		}

		&:active {
			background-color: var(--color-danger-solid-active);
		}
	}

	.cft-btn-danger-subtle {
		color: var(--color-on-danger-subtle-foreground);
		background-color: var(--color-danger-subtle);
		border: 1px solid transparent;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: var(--color-danger-subtle-hover);
			}
		}

		&:active {
			background-color: var(--color-danger-subtle-active);
		}
	}

	.cft-btn-transparent {
		color: var(--color-foreground);
		background-color: transparent;
		border: 1px solid transparent;
	}

	@media (prefers-reduced-motion: reduce) {
		.cft-btn {
			transition: none;
		}

		.cft-btn:active:not(:disabled) {
			transform: none;
		}
	}
}

@layer base {
	* {
		@apply border-border-default outline-ring/50;
	}

	body {
		@apply font-sans bg-background-2 text-foreground;
	}

	html {
		@apply font-sans;
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			transition-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
		}
	}
}

@layer utilities {
	.text-heading-1 {
		font-size: var(--font-scale-11);
		line-height: var(--tw-leading, 3.25rem);
		letter-spacing: var(--tw-tracking, -0.01em);
		text-wrap: balance;
	}

	.text-heading-2 {
		font-size: var(--font-scale-10);
		line-height: var(--tw-leading, 2.75rem);
		letter-spacing: var(--tw-tracking, -0.01em);
		text-wrap: balance;
	}

	.text-heading-3 {
		font-size: var(--font-scale-09);
		line-height: var(--tw-leading, 2.25rem);
		letter-spacing: var(--tw-tracking, -0.01em);
		text-wrap: balance;
	}

	.text-heading-4 {
		font-size: var(--font-scale-08);
		line-height: var(--tw-leading, 2rem);
		letter-spacing: var(--tw-tracking, -0.01em);
	}

	.text-heading-5 {
		font-size: var(--font-scale-07);
		line-height: var(--tw-leading, 1.5rem);
		letter-spacing: var(--tw-tracking, -0.01em);
	}

	.\!text-body-sm\/4 {
		font-size: var(--font-scale-04) !important;
		line-height: calc(var(--spacing) * 4) !important;
	}

	.\!text-body-sm\/4\.5 {
		font-size: var(--font-scale-04) !important;
		line-height: calc(var(--spacing) * 4.5) !important;
	}

	.text-\[1\.75rem\]\/10 {
		font-size: 1.75rem;
		line-height: calc(var(--spacing) * 10);
	}

	.text-\[calc\(2rem-1px\)\]\/\[2\.375rem\] {
		font-size: calc(2rem - 1px);
		line-height: 2.375rem;
	}

	.text-body-base {
		font-size: var(--font-scale-05);
		line-height: var(--tw-leading, 1.5rem);
		text-wrap: pretty;
	}

	.text-body-lg {
		font-size: var(--font-scale-06);
		line-height: var(--tw-leading, 1.5rem);
		text-wrap: pretty;
	}

	.text-body-lg\/5 {
		font-size: var(--font-scale-06);
		line-height: calc(var(--spacing) * 5);
	}

	.text-body-sm {
		font-size: var(--font-scale-04);
		line-height: var(--tw-leading, 1.25rem);
	}

	.text-body-sm\/4 {
		font-size: var(--font-scale-04);
		line-height: calc(var(--spacing) * 4);
	}

	.text-body-sm\/5 {
		font-size: var(--font-scale-04);
		line-height: calc(var(--spacing) * 5);
	}

	.text-caption-base {
		font-size: var(--font-scale-02);
		line-height: var(--tw-leading, 1rem);
	}

	.text-caption-lg {
		font-size: var(--font-scale-03);
		line-height: var(--tw-leading, 1rem);
	}

	.text-caption-sm {
		font-size: var(--font-scale-01);
		line-height: var(--tw-leading, 1rem);
	}

	.text-caption-sm\/3 {
		font-size: var(--font-scale-01);
		line-height: calc(var(--spacing) * 3);
	}

	.text-caption-sm\/3\.5 {
		font-size: var(--font-scale-01);
		line-height: calc(var(--spacing) * 3.5);
	}

	.text-caption-xs {
		font-size: var(--font-scale-00);
		line-height: var(--tw-leading, 0.75rem);
	}

	.text-caption-xs\/3 {
		font-size: var(--font-scale-00);
		line-height: calc(var(--spacing) * 3);
	}

	.text-code-xs {
		font-size: var(--code-size-xs);
		line-height: var(--tw-leading, 1rem);
	}
}
