@import "tailwindcss";
@import "tw-animate-css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-alpha.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/indigo-dark-alpha.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-alpha.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/orange-dark-alpha.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/cyan-alpha.css";
@import "@radix-ui/colors/cyan-dark.css";
@import "@radix-ui/colors/cyan-dark-alpha.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/tomato-alpha.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/tomato-dark-alpha.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-alpha.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/pink-dark-alpha.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/crimson-alpha.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/crimson-dark-alpha.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/plum-alpha.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/plum-dark-alpha.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-alpha.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/purple-dark-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/grass-dark-alpha.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellow-alpha.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/yellow-dark-alpha.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/gold-alpha.css";
@import "@radix-ui/colors/gold-dark.css";
@import "@radix-ui/colors/gold-dark-alpha.css";
@source "../../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
	--bg: var(--gray-2);
	--page: var(--white-a11);

	--secondary: var(--white-a12);
	--secondary-hover: var(--white-a7);

	--standout: var(--white-a10);
	--standout-hover: var(--gray-a3);
	--standout-foreground: var(--black-a11);
	--standout-foreground-hover: var(--black-a12);
}

.dark {
	--bg: oklch(0 0 0);
	--page: var(--white-a1);

	--secondary: var(--white-a1);
	--secondary-hover: var(--gray-a3);

	--standout: var(--white-a2);
	--standout-hover: var(--gray-a3);
	--standout-foreground: var(--white-a11);
	--standout-foreground-hover: var(--white-a12);
}

@theme inline {
	--font-sans: var(--font-inter), sans-serif;
	--font-mono: var(--font-geist-mono), monospace;

	--font-weight-normal: 400;
	--font-weight-medium: 510;
	--font-weight-semibold: 590;

	/* 72px */
	--text-display-xl: 4.5rem;
	--text-display-xl--line-height: 1;
	--text-display-xl--letter-spacing: -1.584px;

	/* 64px */
	--text-display-lg: 4rem;
	--text-display-lg--line-height: 1;
	--text-display-lg--letter-spacing: -1.408px;

	/* 48px */
	--text-display: 3rem;
	--text-display--line-height: 1;
	--text-display--letter-spacing: -1.056px;

	/* 32px */
	--text-h1: 2rem;
	--text-h1--line-height: 1.13;
	--text-h1--letter-spacing: -0.704px;

	/* 24px */
	--text-h2: 1.5rem;
	--text-h2--line-height: 1.33;
	--text-h2--letter-spacing: -0.288px;

	/* 20px */
	--text-h3: 1.25rem;
	--text-h3--line-height: 1.33;
	--text-h3--letter-spacing: -0.24px;

	--text-body-lg: 1.125rem;
	--text-body: 1rem;
	--text-body-sm: 0.9375rem;

	--text-caption: 0.8125rem;
	--text-label: 0.75rem;

	--color-bg: var(--bg);
	--color-page: var(--page);

	--color-surface: var(--bg);
	--color-surface-item-hover: var(--gray-a2);
	--color-surface-item-active: var(--gray-a3);
	--color-surface-item-foreground: var(--black-a8);
	--color-surface-item-foreground-active: var(--black-a11);

	--color-standout: var(--standout);
	--color-standout-hover: var(--standout-hover);
	--color-standout-foreground: var(--standout-foreground);
	--color-standout-foreground-hover: var(--standout-foreground-hover);

	--color-primary: var(--black-a12);
	--color-primary-hover: var(--black-a11);
	--color-primary-foreground: var(--gray-12);
	--color-inverted-primary-foreground: var(--white-a12);

	--color-secondary: var(--secondary);
	--color-secondary-hover: var(--secondary-hover);
	--color-secondary-foreground: var(--gray-11);

	--color-tertiary-hover: var(--gray-a3);

	--color-border: var(--gray-3);
	--color-ring: var(--indigo-a5);
	--color-muted-ring: var(--gray-5);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	html {
		font-feature-settings: "cv01", "ss03";
		@apply font-sans;
	}

	body {
		font-feature-settings: "cv01", "ss03";
		@apply font-sans bg-bg text-primary-foreground;
	}

	html,
	body {
		@apply isolate relative flex h-full min-h-svh flex-1 flex-col overflow-hidden;
		-webkit-app-region: no-drag;
	}

	::selection,
	::-moz-selection {
		color: var(--gray-12);
		background: var(--gray-a6);
	}

	:focus:not(:focus-visible) {
		outline: none;
	}

	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: var(--gray-a5);
		background-clip: padding-box;
		border: 2px solid transparent;
		border-radius: 9999px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--gray-a6);
		background-clip: padding-box;
	}
}

@layer utilities {
	.cft-border-shadow {
		box-shadow:
			0px 0px 0px 1px rgba(0, 0, 0, 0.06),
			0px 1px 2px -1px rgba(0, 0, 0, 0.06),
			0px 2px 4px 0px rgba(0, 0, 0, 0.04);
	}

	.ctf-border-shadow-hover {
		box-shadow:
			0px 0px 0px 1px rgba(0, 0, 0, 0.08),
			0px 1px 2px -1px rgba(0, 0, 0, 0.08),
			0px 2px 4px 0px rgba(0, 0, 0, 0.06);
	}
}
